In [25]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier  # 머신러닝모델
from sklearn import metrics  # 평가

### 목표
- 같으면 0 다르면 1이 되는 XOR 연산을 모델에게 학습시켜보자!

In [4]:
data = [
    [0,0,0],
    [1,0,1],
    [0,1,1],
    [1,1,0]
]

In [5]:
df = pd.DataFrame(data, columns = ['P','Q','P xor Q'])
df

   P  Q  P xor Q
0  0  0        0
1  1  0        1
2  0  1        1
3  1  1        0

In [11]:
df.loc[:,'P':'Q']

   P  Q
0  0  0
1  1  0
2  0  1
3  1  1

In [13]:
X = df.iloc[:,0:2]  # 문제는 머신러닝에서 보통 X로 표현한다.

In [22]:
y = df.iloc[:, 2]  # 답은 머신러닝에서 보통 y로 표현한다.

In [26]:
# 학습하기
knn_model = KNeighborsClassifier(n_neighbors= 1)

In [27]:
knn_model.fit(X, y)  #  , 기준으로 왼쪽은 문제 오른쪽은 답

KNeighborsClassifier(n_neighbors=1)

In [30]:
pre = knn_model.predict([[0, 0],[1, 1],[1, 0],[0, 0]])  # 기계가 답 예측

In [31]:
answer = [0, 0, 1, 0]  # 답 선언하기

In [33]:
metrics.accuracy_score(answer, pre)  # 예측한 답 평가 (정답, 예측)

1.0

### AND 문제 학습시키기

In [35]:
data2 = [
    [0, 0, 0],
    [1, 0, 0],
    [0, 1, 0],
    [1, 1, 1]
]
df2 = pd.DataFrame(data2, columns = ['P', 'Q', 'P and Q'])
df2

   P  Q  P and Q
0  0  0        0
1  1  0        0
2  0  1        0
3  1  1        1

In [36]:
X = df2.iloc[:, 0:2]  # 문제
y = df2.iloc[:, 2]  # 답

In [37]:
knn_model = KNeighborsClassifier(n_neighbors = 1)  # 학습방법정의(knn모델 정의)

In [38]:
knn_model.fit(X,y)

KNeighborsClassifier(n_neighbors=1)

In [39]:
pre = knn_model.predict([[1,0],[0,0],[0,1],[0,0]])  # 예측하기
answer = [0,0,0,0]

In [40]:
metrics.accuracy_score(answer, pre)

1.0