###  corr 이 제일 높았던 age 와 self-control을 사용해 stag 결측치 채워보기

In [45]:
import pandas as pd
import matplotlib.pyplot as plt  # 그래프 그리는 라이브러리
from sklearn.model_selection import train_test_split
from sklearn import metrics  # 평가를 위한 라이브러리
from sklearn.tree import DecisionTreeClassifier

import numpy as np
import seaborn as sns  # 시각화 라이브러리

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [3]:
train = pd.read_csv('smhrd111/train.csv', index_col = 'ID')
test = pd.read_csv('smhrd111/test.csv', index_col = 'ID')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 1 to 699
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   stag          516 non-null    float64
 1   event         699 non-null    int64
 2   gender        699 non-null    object
 3   age           699 non-null    float64
 4   industry      672 non-null    object
 5   profession    699 non-null    object
 6   traffic       699 non-null    object
 7   coach         699 non-null    object
 8   head_gender   699 non-null    object
 9   greywage      679 non-null    object
 10  way           678 non-null    object
 11  extraversion  699 non-null    float64
 12  independ      699 non-null    float64
 13  selfcontrol   666 non-null    float64
 14  anxiety       699 non-null    float64
 15  novator       699 non-null    float64
dtypes: float64(7), int64(1), object(8)
memory usage: 92.8+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 430 entries, 700 to 1129
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   stag          321 non-null    float64
 1   gender        430 non-null    object
 2   age           430 non-null    float64
 3   industry      430 non-null    object
 4   profession    430 non-null    object
 5   traffic       430 non-null    object
 6   coach         430 non-null    object
 7   head_gender   360 non-null    object
 8   greywage      430 non-null    object
 9   way           430 non-null    object
 10  extraversion  430 non-null    float64
 11  independ      430 non-null    float64
 12  selfcontrol   385 non-null    float64
 13  anxiety       430 non-null    float64
 14  novator       430 non-null    float64
dtypes: float64(7), object(8)
memory usage: 53.8+ KB

In [6]:
train.corr()

,stag,event,age,extraversion,independ,selfcontrol,anxiety,novator
stag,1.000000,-0.070421,-0.214415,-0.078248,-0.013056,0.102294,0.042807,-0.039662
event,-0.070421,1.000000,0.008723,0.013961,-0.007915,-0.049588,-0.022668,0.022554
age,-0.214415,0.008723,1.000000,-0.169429,0.074582,0.032276,0.060051,0.020334
extraversion,-0.078248,0.013961,-0.169429,1.000000,-0.208904,-0.512422,-0.150632,0.287073
independ,-0.013056,-0.007915,0.074582,-0.208904,1.000000,-0.202594,-0.418896,0.038421
selfcontrol,0.102294,-0.049588,0.032276,-0.512422,-0.202594,1.000000,-0.074452,-0.573815
anxiety,0.042807,-0.022668,0.060051,-0.150632,-0.418896,-0.074452,1.000000,0.255866
novator,-0.039662,0.022554,0.020334,0.287073,0.038421,-0.573815,0.255866,1.000000

In [7]:
test.corr()

,stag,age,extraversion,independ,selfcontrol,anxiety,novator
stag,1.000000,-0.213404,-0.129267,0.065200,0.050795,-0.040311,-0.066284
age,-0.213404,1.000000,-0.116970,0.043920,0.013688,0.038650,0.062018
extraversion,-0.129267,-0.116970,1.000000,-0.191124,-0.579729,-0.107014,0.317611
independ,0.065200,0.043920,-0.191124,1.000000,-0.121016,-0.436577,0.002716
selfcontrol,0.050795,0.013688,-0.579729,-0.121016,1.000000,-0.137211,-0.526195
anxiety,-0.040311,0.038650,-0.107014,-0.436577,-0.137211,1.000000,0.227025
novator,-0.066284,0.062018,0.317611,0.002716,-0.526195,0.227025,1.000000

- train 과 test 의 selfcontrol 결측치 채우기 (가장 빈도수가 높은걸로)

In [8]:
test['selfcontrol'].value_counts()

6.4     63
4.1     51
7.2     45
5.7     43
4.9     39
3.3     34
8.0     28
8.7     27
2.6     26
9.5     12
1.8      9
10.0     5
1.0      3
Name: selfcontrol, dtype: int64

In [9]:
train['selfcontrol'] = train['selfcontrol'].fillna(5.7)

In [10]:
test['selfcontrol'] = test['selfcontrol'].fillna(6.4)

In [11]:
train.corr()

,stag,event,age,extraversion,independ,selfcontrol,anxiety,novator
stag,1.000000,-0.070421,-0.214415,-0.078248,-0.013056,0.099942,0.042807,-0.039662
event,-0.070421,1.000000,0.008723,0.013961,-0.007915,-0.047922,-0.022668,0.022554
age,-0.214415,0.008723,1.000000,-0.169429,0.074582,0.031015,0.060051,0.020334
extraversion,-0.078248,0.013961,-0.169429,1.000000,-0.208904,-0.501896,-0.150632,0.287073
independ,-0.013056,-0.007915,0.074582,-0.208904,1.000000,-0.198366,-0.418896,0.038421
selfcontrol,0.099942,-0.047922,0.031015,-0.501896,-0.198366,1.000000,-0.071166,-0.559241
anxiety,0.042807,-0.022668,0.060051,-0.150632,-0.418896,-0.071166,1.000000,0.255866
novator,-0.039662,0.022554,0.020334,0.287073,0.038421,-0.559241,0.255866,1.000000

- pivot 테이블을 묶어서 age를 뽑았을때 비어있는 age 값을 드랍하고 다시 채워주기

In [12]:
train.groupby(["gender", "age"]).median()["stag"]

gender  age
f       18.0    142.455852
        19.0    133.273101
        20.0     82.759754
        21.0     26.940452
        22.0     41.297741
                   ...
m       45.0           NaN
        46.0           NaN
        47.0           NaN
        51.0     25.659138
        52.0     22.078029
Name: stag, Length: 64, dtype: float64

In [13]:
train['age'] = train['age'].astype('int64')

In [14]:
index = train['age'][train['age'] == 47].index
index2 = train['age'][train['age'] == 58].index
train = train.drop(index)
train = train.drop(index2)

In [15]:
pt = train.pivot_table(values="stag", index=["age"], aggfunc = "mean")

In [16]:
def fill_stag(df):
    if np.isnan(df['stag']):
        return pt.loc[df["age"]]
    else:
        return df['stag']

In [17]:
train["stag"] = train.apply(fill_stag, axis = 1).astype("int64")

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 696 entries, 1 to 699
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   stag          696 non-null    int64
 1   event         696 non-null    int64
 2   gender        696 non-null    object
 3   age           696 non-null    int64
 4   industry      669 non-null    object
 5   profession    696 non-null    object
 6   traffic       696 non-null    object
 7   coach         696 non-null    object
 8   head_gender   696 non-null    object
 9   greywage      676 non-null    object
 10  way           675 non-null    object
 11  extraversion  696 non-null    float64
 12  independ      696 non-null    float64
 13  selfcontrol   696 non-null    float64
 14  anxiety       696 non-null    float64
 15  novator       696 non-null    float64
dtypes: float64(5), int64(3), object(8)
memory usage: 112.4+ KB

In [19]:
test.groupby(["gender", "age"]).median()["stag"]

gender  age
f       18.0    42.250513
        19.0    39.277207
        20.0     9.921971
        21.0    74.053388
        22.0    32.000000
                  ...
m       45.0    24.279261
        47.0    29.700205
        48.0    12.517454
        49.0    21.158111
        54.0    15.605749
Name: stag, Length: 65, dtype: float64

In [20]:
test['age'] = test['age'].astype('int64')

In [21]:
index = test['age'][test['age'] == 47].index
index2 = test['age'][test['age'] == 58].index
test = test.drop(index)
test = test.drop(index2)

In [22]:
pt2 = test.pivot_table(values="stag", index=["age"], aggfunc = "mean")

In [23]:
def fill_stag(df):
    if np.isnan(df['stag']):
        return pt2.loc[df["age"]]
    else:
        return df['stag']

In [24]:
test["stag"] = test.apply(fill_stag, axis = 1).astype("int64")

In [25]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426 entries, 700 to 1129
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   stag          426 non-null    int64
 1   gender        426 non-null    object
 2   age           426 non-null    int64
 3   industry      426 non-null    object
 4   profession    426 non-null    object
 5   traffic       426 non-null    object
 6   coach         426 non-null    object
 7   head_gender   357 non-null    object
 8   greywage      426 non-null    object
 9   way           426 non-null    object
 10  extraversion  426 non-null    float64
 11  independ      426 non-null    float64
 12  selfcontrol   426 non-null    float64
 13  anxiety       426 non-null    float64
 14  novator       426 non-null    float64
dtypes: float64(5), int64(2), object(8)
memory usage: 53.2+ KB

### 제일 빈도수 많았던 데이터로 결측치 채우기

In [26]:
train['industry'] = train['industry'].fillna('Retail')

In [27]:
train['greywage'] = train['greywage'].fillna('white')

In [28]:
train['way'] = train['way'].fillna('bus')

In [31]:
test['head_gender'] = test['head_gender'].fillna('m')

In [33]:
train.to_csv('temp/train.csv', index = False)

In [34]:
test.to_csv('temp/test.csv', index = False)

### 가데이터 집어넣은 train 과 test 불러오기

In [90]:
train = pd.read_csv('temp/train.csv')
test = pd.read_csv('temp/test.csv')

- 원핫 인코딩

In [91]:
y_train = train['event']
X_train = train.drop('event', axis = 1)
X_test = test

In [92]:
cat_feature = ['gender', 'industry', 'profession', 'traffic', 'coach', 'head_gender', 'greywage', 'way']

In [93]:
for i in cat_feature:
    dummy = pd.get_dummies(train[i], prefix = i)
    X_train = pd.concat([X_train, dummy], axis = 1)
    X_train.drop(i, axis=1, inplace = True)

In [94]:
for i in cat_feature:
    dummy = pd.get_dummies(test[i], prefix = i)
    X_test = pd.concat([X_test, dummy], axis = 1)
    X_test.drop(i, axis=1, inplace = True)

In [95]:
set(X_train.columns) - set(X_test.columns)

set()

In [99]:
knn_model = KNeighborsClassifier(n_neighbors = 10)

In [102]:
result = cross_val_score(knn_model,
                        X_train,
                        y_train,
                        cv = 10)
result

array([0.67142857, 0.77142857, 0.67625899, 0.66906475, 0.74100719,
       0.70503597, 0.76978417, 0.69784173, 0.66906475, 0.73381295])

In [103]:
result.mean()

0.7104727646454265

In [104]:
knn_model.fit(X_train, y_train)
pre = knn_model.predict(X_test)

In [105]:
type(pre)

numpy.ndarray

In [107]:
pre = np.append(pre, np.array([0, 0, 0, 0]))

In [108]:
pre

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0], dtype=int64)

In [112]:
result2 = pd.read_csv('smhrd111/submission.csv')

In [113]:
result2['event'] = pre

In [115]:
result2.to_csv('smhrd111/submission2.csv', index = False)